@import "../../variables.scss";

.hire {
    margin-bottom: 200px;

    .hire_first_div {
        display: flex;

        >div:first-child {
            position: relative;
            width: 55%;
        }

        >div:last-child {
            width: 45%;
        }
    }

    .first_inside_hire {
        font-weight: bold;
        font-size: 2.8em;
        color: #2f2f2f;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 36%;
        font-family: "Barlow", sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
    }

    .second_inside_hire {
        width: 102%;
        height: 300px;
        background: url("../../assets/images/left_row.jpg");
        background-size: cover;
        overflow: hidden;
        border-radius: 0px 70px 30px 0px;

        >p {
            color: #fff;
            font-size: 17px;
            padding: 55px 20px 0px 250px;
            line-height: 24px;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .third_inside_hire {
        margin-top: 40px;
        padding-left: 36%;
        display: flex;
        gap: 20px;
        z-index: 2;
    }

    .custom_button_1 {
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        height: 60px;
        transition: background-color 0.3s ease;
        border-radius: 30px;
        font-family: "Barlow", sans-serif;
        font-weight: 550;
        letter-spacing: 1px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        background-color: $color-dark-gray;
        color: $color-white;

        &:hover {
            background-color: $bg-reddish-brown;
            transform: translateY(-5px);
        }
    }

    .custom_button_2 {
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        height: 60px;
        transition: background-color 0.3s ease;
        border-radius: 30px;
        font-family: "Barlow", sans-serif;
        font-weight: 550;
        letter-spacing: 1px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border: 1px solid black;
        color: black;

        &:hover {
            background-color: black;
            color: $color-white;
            transform: translateY(-5px);
        }
    }

    .hire_right_div {
        position: relative;
        height: 750px;
        background: url("../../assets/images/right_hand_row.jpg");
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .swiper-container {
        position: absolute;
        top: 40%;
        display: flex;
        width: 400px;
        left: 10%;
        z-index: 999;

        .swiper-wrapper {
            display: flex;
            width: 100%;
            transition: transform 0.3s ease;
            overflow: hidden;

            .swiper-slide {
                flex: 0 0 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 150px;
                margin-left: 20px;

                img {
                    height: 100px;
                    max-height: 200px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                p {
                    margin-top: 10px;
                    font-style: normal;
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    font-size: 17px;
                }
            }
        }
    }

    .arrowBtn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 80px;

        img {
            height: 40px;
            margin: 0 5px;
            cursor: pointer;

            &:first-child {
                transform: rotate(180deg);
            }
        }
    }

    .arrowimage {
        width: 15px;
        height: 15px;
    }

    @media (max-width: 1024px) {
        .first_inside_hire {
            width: 90%;
            font-size: 2.5rem;
            padding-left: 10%;
        }

        .second_inside_hire>p {
            width: 85%;
            font-weight: 500;
            font-size: 1.3rem;
            margin-top: 5%;
            margin-left: 10%;
        }

        .third_inside_hire {
            display: flex;
            gap: 10px;
            padding-left: 6%;
        }

        .custom_button_1 {
            padding: 15px 35px !important;
            font-size: 20px !important;
        }

        .custom_button_2 {
            padding: 15px 35px !important;
            font-size: 17px !important;
        }

        .hire_right_div {
            height: 620px;
            margin-top: 40px;
        }
    }

    @media (max-width: 768px) {
        .hire_first_div {
            flex-direction: column;

        }

        .hire_first_div>div:first-child {
            position: relative;
            width: 100%;

        }

        .hire_first_div>div:last-child {
            width: 100%;
        }

        .first_inside_hire {
            width: 60%;
        }

        .second_inside_hire {
            width: 97%;
            height: 300px;
            border-radius: 0px 30px 30px 0px;

            >p {
                font-size: 1.5rem;
                padding: 5px;
            }
        }

        .third_inside_hire {
            display: flex;
            bottom: -130%;
            gap: 20px;
            flex-direction: column;
            position: absolute;
            padding-left: 6%;
        }

        .custom_button_1 {
            padding: 20px 35px !important;
            font-size: 25px !important;
        }

        .custom_button_2 {
            padding: 20px 35px !important;
            font-size: 20px !important;
        }

        .hire_right_div {
            height: 750px;
            margin-top: 40px;
        }



    }

    @media (max-width: 425px) {
        .first_inside_hire {
            width: 80%;
            font-size: 1.5rem;
        }

        .second_inside_hire {
            height: 250px;


            >p {
                font-size: 15px;
            }
        }

        .third_inside_hire {
            bottom: -150%;
            gap: 10px;

        }

        .custom_button_1 {
            padding: 15px 25px !important;
            font-size: 15px !important;
        }

        .custom_button_2 {
            padding: 15px 25px !important;
            font-size: 16px !important;
        }

        .hire_right_div {
            height: 350px;
            margin-top: 30px;
          
        }
    }
}